<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-body text-dark">
      <h5 class="card-title"><%= task.title %></h5>
      <h5 class="card-title"><%= task.status %></h5>
      <h5 class="card-title text-info"><%= task %></h5>
      <p class="card-text"><%= task.description %></p>
      <div class="card-footer">
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Task', new_task_path %>