<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Fttx-planner" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_pack_tag 'favicon.ico' %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
<%= render 'shared/navbar' %>
<div class="container mt-3">
  <%= render 'shared/flashes' %>
  <%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>
